body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Importante dates style (creation date, due date) */
.important-dates {
  display: block;
  margin-top: -1em;
  display: flex;
  justify-content: space-between;
}
.important-dates--label {
  font-weight: bold;
}

